@model Vidly.Models.Customer

<h2>Customer        : @Model.Name</h2>
<h2>Membership Type : @Model.MembershipType.Name</h2>
<h2>       @(Model.BirthDate.HasValue ? "BirthDate:"+ Model.BirthDate.Value.ToShortDateString() : null) </h2>
