@model IEnumerable<Vidly.Models.Customer>


<table class="table table-bordered">
	<thead>
		<tr>
			<th>Customer</th>
			<th>MemberShipType</th>
			<th>Discount</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</td>
				<td>@item.MembershipType.Name</td>
				<td>@item.MembershipType.Discount%</td>
			</tr>
			
		}
	</tbody>
	
</table>

