
@model Vidly.ViewModel.RandomMovieViewModel
@{
	ViewBag.Title = "Random";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
	Multiple commenting way.
	dynamic class in razor
*@

@{ 
	var className = Model.Customers.Count > 0 ? "popular" : null;
}
<h2 class="@className">Movie Selected : @Model.Movie.Name</h2>

@if(Model.Customers.Count==0)
{
	<p>No movie rented by the customer</p>
}
else
{
<ul>
	@foreach (var customer in Model.Customers)
	{
		<li>@customer.Name</li>
	}
</ul>
}
